*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

html,body{
    height: 100%;
}

.clear{
    clear: both;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
}

header{
    width: 100%;
    height: 90vh;
    padding: 40px;
    max-height: 700px;
    background-image: url(../imagens/capa.png);
    background-size: cover;
    background-position: center;
}

nav.mobile-menu{
    display: none;
}

header nav{
    float: right;
    }

header nav.desktop-menu ul{
    list-style-type: none;
}

header nav.desktop-menu li{
    display: inline-block;
    padding: 0 20px;
}

header nav.desktop-menu ul a{
    font-size: 20px;
    color: white;
    text-decoration: none;
}

header .logo{
    width: 110px;
    height: 110px;
    background-image: url(../imagens/logo.png);
    background-size:contain;
    background-repeat: no-repeat;
    float: left;
    margin-top: -20px;
}

.texto1{
    max-width: 550px;
    float: right;
    margin: 120px 170px;
    color: white;
}

.texto1 h2{
    font-size: 45px;

    font-weight: normal;
    font-weight: 300;
}

/*SESSAO*/

section.sessao1{
    width: 100%;
    background-color: #472562;
    padding: 0;
    height: 400px;
}

section.sessao1 .container{
    max-width: 1100px;
}

.texto-sessao1{
    float: left;
    color: white;
    width: 50%;
    margin-top: 40px;
    padding-left: 70px;
    left: 60px;
    position: relative;
}

.texto-sessao1 h2{
    font-weight: 300;
    font-size: 26px;
}

.texto-sessao1 p{
    margin-top: 20px;
    font-size: 15px;
    font-weight: 300;
    
}

.texto-sessao1 ul{
    list-style-position: inside;
    font-size: 15px;
}

.texto-sessao1 ul li{
    width: 100%;
    margin-top: 10px;
}

.device-sessao1{
    background-image: url(../imagens/device.png);
    width: 50%;
    height: 450px;
    display: inline-block;
    position: relative;
    top: -50px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.button1{
    background-color: #FF703D;
    width: 165px;
    height: 40px;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    line-height: 40px;
    border-radius: 20px;
}

/* SESSAO 2 */

.sessao2{
    padding: 2% 0;
    background-color: white;
    text-align: center;
}

.sessao2 .container{
    max-width: 1000px;
    width: 60%;
}

.sessao2 h2{
    margin-top: 20px;
    color: #472663;
    font-weight: 300;
}

.sessao2 p{
    margin-top: 30px;
    max-width: 780px;
    display: inline-block;
    color: #472663;
}

.sessao2 img{
    width: 100%;
    height: 65%;
    margin-top: 40px;
    position: relative;
    top: 80px;
}

/* SESSAO 3 */

.sessao3{
    width: 100%;
}

.parte1{
    color: white;
    float: left;
    width: 50%;
    padding: 140px 0 102px 0;
    background-color: #835FA7;
}

.wraper-parte1{
    max-width: 540px;
    float: right;
    padding-right: 30px;
}

.parte1 h2{
    font-weight: 300;
    font-style: italic;
    font-size: 25px;
}

.parte1 p{
    font-size: 17px;
    line-height: 25px;
    margin-top: 10px;
}

.parte2{
    width: 50%;
    float: left;
    padding: 140px 0 90px 0;
    background: white;
}

.info-autor{
    float: left;
    max-width: 600px;
    padding-left: 30px;
}

.titulo-autor{
    float: left;
    width: 100%;
}

.wrapper-titulo-autor{
    float: left;
}

.titulo-autor h2{
    font-weight: 400;
    float: left;
    padding-right: 15px;
    width: 100%;
}

.titulo-autor .img-autor{
    float: left;
    width: 40px;
    padding-top: 40px;
    background-image: url(../imagens/Eu.jpeg);
    background-size: 100% 100%;
    border-radius: 20px;
}   

.titulo-autor{
    font-style: italic;
    font-weight: 300;
}
.sobre-autor{
    float: left;
    width: 100%;
    margin-top: 10px;
}

.slider-bullets{
    width: 100%;
    float: left;
    margin-top: 8px;
    padding-left: 30px;
}

.slider-bullets p{
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background-color: rgb(200,200,200);
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
}

/* SESSAO 4 */

section.sessao4{
    background-color: #472563;
    padding: 100px 0;
}

.form{
    float: left;
    width: 50%;
    color: white;
    padding-left: 10px;
}

.form h2{
    font-weight: 300;
    font-size: 23px;
    margin-bottom: 20px;
}

.form p{
    font-size: 15px;
    font-weight: 300;
    max-width: 400px;
    padding-right: 10px;
}

.form form{
    margin-top: 20px;
}
.form form input[type=text]{
    width: 90%;
    max-width: 480px;
    margin-top: 5px;
    height: 58px;
    padding-left: 8px;
    line-height: 58px;
    border: 1px solid rgb(200,200,200);
}

.form form textarea{
    width: 90%;
    max-width: 480px;
    padding: 8px;
    margin-top:8px;
    border: 1px solid rgb(200,200,200);
    height: 160px;
}

.form form input[type=submit]{
    
    background-color: #FF703D;
    width: 165px;
    height: 40px;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 20px;
    border: 0;
    
}

.map-wrapper{
    float: left;
    width: 50%;
    color: white;
    padding: 0 10px;
}

.map-wrapper h2{
    font-size: 23px;
    font-weight: 300;
}

.map-wrapper3{
    width: 100%;
    max-width: 480px;
    position: relative;
}

.map-wrapper2{
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    padding-top: 100%;
}
.map{
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    border: 5px solid rgb(200,200,200);
}

footer{
    padding: 40px 2%;
    background: #192123;
    color: white;
    font-size: 14px;
}

footer p:nth-of-type(1){
    float: left;
}

footer p:nth-of-type(2){
    float: right;
}

@media screen and (max-width: 730px){
    .titulo-autor .img-autor{
        display: none;
    }
}

@media screen and (max-width: 580px){
    .parte1{
        width: 100%;
        padding: 40px 0;
    }
    .parte2{
        width: 100%;
        padding: 40px 0;
    }

    .sessao2 img{
        margin-bottom: 20px;
    }

    .wraper-parte1{
        padding-left: 30px;
    }

    .titulo-autor .img-autor{
        display:block;
    }

    footer{
        text-align: center;
    }
    
    footer p:nth-of-type(1){
        float: none;
    }
    
    footer p:nth-of-type(2){
        float: none;
        margin-top: 8px;
    }

}

@media screen and (max-width: 795px){
    .device-sessao1{
        margin-top: -21px;
    }

    .sessao2{
        padding: 40px 2%;
    }
    .sessao2 img{
        width: 130%;
        height: 300px;
        margin-top: 0px;
        position: relative;
        top: 80px;
        right: 15%;
    }

}

@media screen and (max-width: 768px){


    header{
        width: 100%;
        height: auto;
        min-height: 90vh;
        padding: 40px;
    }

    
    nav.desktop-menu{
        display: none;
    }
    
    nav.mobile-menu{
        cursor: pointer;
        display: block;
        width: 32px;
        height: 32px;
        background-image: url(../imagens/menu.png);
        background-size: 100% 100%;
    }

    nav.mobile-menu:hover ul{
        opacity: 1;
    }

    nav.mobile-menu ul{
        opacity: 0;
        transition: 1s;
        background-color: white;
        position: absolute;
        width: 100%;
        top: 85px;
        left: 0;
        color: white;
        list-style-type: none;
        text-align: center;
    }

    nav.mobile-menu ul li{
        padding: 8px 0;
        border-bottom: 1px solid black;
    }

    nav.mobile-menu ul li:hover{
        background-color: rgb(230,230,230);
    }

    nav.mobile-menu ul a{
        text-decoration: none;
        color: black;
    }
    section.sessao1{
        padding: 40px;
        height: auto;
        text-align: center;
    }
    
    .texto1{
        max-width: none;
        width: 100%;
        text-align: center;
        float: none;
        margin: 150px auto;
    }
    
    .device-sessao1{
        display: none;   
    }

    .texto-sessao1{
        width: 100%;
        position: static;
        margin-top: 0;
        float: none;
        display: inline-block;
        padding-left: 0;
    }

    .texto-sessao1 ul{
        display: inline-block;
        margin-top: 20px;
    }

    .texto-sessao1 ul li{
        float: none;
        text-align: left;
    }

    .button1{
        margin: 0 auto;
        margin-top: 40px;
    }

    .sessao2{
        padding: 40px 2%;
    }

    .sessao2 img{
        width: 130%;
        height: 300px;
        margin-top: 0px;
        position: relative;
        top: 80px;
        right: 15%;
    }

    .form{
        float: none;
        width: 100%;
    }

    .form p{
        display: inline-block;
    }

    .map-wrapper{
        margin-top: 30px;
        float: none;
        width: 100%;
        padding: 0 4%;
    }

    .sessao4{
        text-align: center;
    }

    .map-wrapper3{
        width: 80%;
        padding-top: 80%;
        max-width: none;
        position: relative;
        display: inline-block;
    }
    
    .map-wrapper2{
        left: 0;
        top: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        padding-top: 0;
    }

}   